image:
  name: minimal-os-image-madani
  version: "24.04"

target:
  os: madani # Target OS name
  dist: madani24 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_ISO # 1:1 mapping to the systemConfigs name
  artifacts:
    -
      type: qcow2
  size: 6GiB # Increased to accommodate larger rootfs partition
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi
      mountOptions: umask=0077

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: 4557MiB  # 513MiB + 4044MiB (4238528512 bytes) = 4557MiB
      fsType: ext4
      mountPoint: /
      mountOptions: defaults

    - id: roothashmap
      type: linux
      start: 4557MiB
      end: 5057MiB  # 4557MiB + 500MiB = 5057MiB
      fsType: ext4
      mountPoint: none

    - id: userdata
      type: linux
      start: 5057MiB
      end: "0"  # Uses remaining space until end of disk
      fsType: ext4
      mountPoint: /opt

systemConfig:
  name: Default_ISO
  description: Default yml configuration for raw image

  initramfs:
    template: default-initrd-x86_64.yml

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  immutability:
    enabled: false # default is false, you need 4 partitions for true immutability setup

  packages:
    # base
    - ubuntu-minimal
    - systemd-boot
    - dracut-core
    - systemd
    - cryptsetup-bin
    - openssh-server
    - systemd-resolved
    # GUI packages
    - xfce4 
    - xfce4-goodies    
    - xrdp 
    - xfce4-session 
    - dbus-x11 
    - dbus-user-session
    - x11-xserver-utils 
    - xorg 
    - mesa-utils
    - ssl-cert
    - lightdm
    - lightdm-gtk-greeter
    #networking
    - net-tools
    - network-manager
    - network-manager-gnome
    - linux-firmware
    - wireless-tools
    - wpasupplicant

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/ubuntu-noble.list
      final: /etc/apt/sources.list.d/ubuntu-noble.list
  
  hookScripts:
    - local_post_rootfs: ../hookscripts/post_rootfs.sh
      target_post_rootfs: /etc/hooks/post_rootfs.sh
  
  kernel:
    version: "6.14"
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    packages:
      - linux-image-generic-hwe-24.04
