image:
  name: minimal-os-image-madani
  version: "24.04"

target:
  os: madani # Target OS name
  dist: madani24 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_Raw # 1:1 mapping to the systemConfigs name
  artifacts:
    -
      type: qcow2  # image file format
  size: 6GiB # Increased to accommodate larger rootfs partition
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi
      mountOptions: umask=0077

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: "0"
      fsType: ext4
      mountPoint: /
      mountOptions: defaults

systemConfig:
  name: Default_Raw
  description: Default yml configuration for raw image

  initramfs:
    template: default-initrd-x86_64.yml

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  immutability:
    enabled: false # default is false, you need 4 partitions for true immutability setup

  packages:
    # base
    - ubuntu-minimal
    - systemd-boot
    - dracut-core
    - systemd
    - cryptsetup-bin
    - openssh-server
    - systemd-resolved
    - curl
    # GUI packages
    - xfce4 
    - xfce4-goodies    
    - xrdp 
    - xfce4-session 
    - dbus-x11 
    - dbus-user-session
    - x11-xserver-utils 
    - xorg 
    - mesa-utils
    - ssl-cert
    - lightdm
    - lightdm-gtk-greeter
    #networking
    - net-tools
    - network-manager
    - network-manager-gnome
    - linux-firmware
    - wireless-tools
    - wpasupplicant
    #cloud init
    - cloud-init
    - chrony  

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/ubuntu-noble.list
      final: /etc/apt/sources.list.d/ubuntu-noble.list
    - local: ../additionalfiles/mos-wallpaper.png
      final: /usr/share/backgrounds/mos-wallpaper.png
    - local: ../additionalfiles/mos-wallpaper.png
      final: /usr/share/backgrounds/warty-final-ubuntu.png
    - local: ../additionalfiles/xfce4-desktop.xml
      final: /etc/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
    - local: ../additionalfiles/setup-wait-for-network.sh
      final: /opt/software/setup-wait-for-network.sh
    - local: ../additionalfiles/setup-ollama.sh
      final: /opt/software/setup-ollama.sh
    - local: ../additionalfiles/setup-containers.sh
      final: /opt/software/setup-containers.sh
    - local: ../additionalfiles/setup-intel-dlstreamer.sh
      final: /opt/software/setup-intel-dlstreamer.sh
    - local: ../additionalfiles/setup-cleanup.sh
      final: /opt/software/setup-cleanup.sh
               
  hookScripts:
    - local_post_download_packages: ../hookscripts/post_download.sh
      target_post_download_packages: /hooks/post_download.sh
    - local_post_rootfs: ../hookscripts/rebranding.sh
      target_post_rootfs: /etc/hooks/rebranding.sh
    - local_post_rootfs: ../hookscripts/cloudinit.sh
      target_post_rootfs: /etc/hooks/cloudinit.sh
  
  kernel:
    version: "6.14"
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    packages:
      - linux-image-generic-hwe-24.04
