image:
  name: emt3-default-x86_64
  version: "1.0.0"

target:
  os: edge-microvisor-toolkit # Target OS name
  dist: emt3 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_ISO
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: "0"  # 0 means use the rest of the disk space
      fsType: ext4
      mountPoint: /

systemConfig: # Required
  name: Default_ISO
  description: Default yml configuration for iso image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    # grub2-mkconfig
    - grub2

    # developer-packages
    - build-essential
    - cmake
    - createrepo_c
    - curl-devel
    - device-mapper
    - flex
    - fuse-devel
    - git
    - golang
    - iputils
    - less
    - linux-firmware
    - net-tools
    - ninja-build
    - parted
    - pciutils
    - python3-pip
    - tar
    - texinfo
    - usbutils
    - wget

    # virtualization-host-packages
    - qemu-kvm

    # core-packages-image
    - shim
    - efibootmgr
    - grub2-efi-binary
    - ca-certificates
    - cronie-anacron
    - logrotate
    - core-packages-base-image
    - dracut-hostonly
    - dracut-vrf
    - dracut-systemd-cryptsetup
    - initramfs
    - shadow-utils

    # core-tools-packages
    - dnf
    - vim
    - wget

    # ssh-server
    - openssh-server

    # selinux-full
    - selinux-policy
    - selinux-policy-devel
    - policycoreutils-python-utils
    - checkpolicy
    - secilc
    - setools-console

    # intel-gpu-base
    - kernel-drivers-gpu
    - linux-firmware-i915
    - linux-firmware-ice
    - intel-npu-firmware

    # drtm
    - tboot
    - tpm2-tools
    - tpm2-tss

    # virt-guest-packages
    - dracut-hyperv
    - dracut-virtio
    - dracut-xen

    # docker
    - moby-engine
    - docker-cli
    - docker-compose

    # intel-wireless
    - linux-firmware-iwlwifi
    - wireless-regdb

  additionalFiles:
    - local: 99-dhcp-en.network
      final: /etc/systemd/network/99-dhcp-en.network

  kernel:
    name: kernel
