image:
  name: minimal-os-image-ubuntu
  version: "24.04"

target:
  os: ubuntu # Target OS name
  dist: ubuntu24 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: raw # Image type, valid value: [raw, iso].

disk:
  name: Default_Raw # 1:1 mapping to the systemConfigs name
  artifacts:
    -
      type: raw  # image file format
      compression: gz # image compression format (optional)
  size: 6GiB # Increased to accommodate larger rootfs partition
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi
      mountOptions: umask=0077

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: 4557MiB  # 513MiB + 4044MiB (4238528512 bytes) = 4557MiB
      fsType: ext4
      mountPoint: /
      mountOptions: defaults, ro

    - id: roothashmap
      type: linux
      start: 4557MiB
      end: 5057MiB  # 4557MiB + 500MiB = 5057MiB
      fsType: ext4
      mountPoint: none

    - id: userdata
      type: linux
      start: 5057MiB
      end: "0"  # Uses remaining space until end of disk
      fsType: ext4
      mountPoint: /opt

systemConfig:
  name: Default_Raw
  description: Default yml configuration for raw image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  immutability:
    enabled: true # default is true

  packages:
    - ubuntu-minimal
    - systemd-boot
    - dracut-core
    - systemd
    - cryptsetup-bin
    - systemd-resolved

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/ubuntu-noble.list
      final: /etc/apt/sources.list.d/ubuntu-noble.list

  kernel:
    version: "6.14"
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    packages:
      - linux-image-generic-hwe-24.04
