[Service]
ExecStart=
ExecStart=-/sbin/agetty --noclear --autologin root --keep-baud %I $TERM

# Default to ttyS0 but allow other choices
[Install]
Alias=getty.target.wants/serial-getty@ttyS0.service