image:
  name: minimal-os-image-elxr
  version: "12.0.0"

target:
  os: wind-river-elxr # Target OS name
  dist: elxr12 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_ISO
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: "0"  # 0 means use the rest of the disk space
      fsType: ext4
      mountPoint: /

systemConfig: # Required
  name: Default_ISO
  description: Default yml configuration for iso image

  initramfs:
    template: default-initrd-x86_64.yml

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    - ca-certificates
    - vim
    - sudo
    - net-tools
    - openssh-client
    - openssh-server
    - procps
    - less
    - dbus
    - policykit-1
    - curl
    - wget
    - uefi-ext4
    - systemd-resolved
    - cloud-guest-utils
    - xterm
    - dracut
    - systemd-boot
    - grub2
    - grub-pc-bin
    - grub-efi-amd64-bin

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/elxr-aria.list
      final: /etc/apt/sources.list.d/elxr-aria.list

  kernel:
    name: kernel
    packages:
     - linux-image-amd64
