image:
  name: minimal-os-image-elxr
  version: "12.0.0"

target:
  os: wind-river-elxr # Target OS name
  dist: elxr12 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: img # Image type, valid value: [raw, iso].

systemConfig:
  name: Default_Initrd
  description: Default yml configuration for initrd image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: grub # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    - ca-certificates
    - vim
    - sudo
    - net-tools
    - openssh-client
    - openssh-server
    - procps
    - less
    - dbus
    - policykit-1
    - dosfstools
    - curl
    - mmdebstrap
    - wget
    - cryptsetup
    - uefi-ext4
    - systemd-resolved
    - cloud-guest-utils
    - xterm
    - dracut
    - systemd-boot
    - grub2
    - grub-pc-bin
    - grub-efi-amd64-bin

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/elxr-aria.list
      final: /etc/apt/sources.list.d/elxr-aria.list
    - local: ../additionalfiles/getty@.service
      final: /usr/lib/systemd/system/getty@.service
    - local: ../additionalfiles/serial-getty@.service
      final: /usr/lib/systemd/system/serial-getty@.service

  users:
    - name: root
      passwordMaxAge: 99999
      password: ""

  kernel:
    name: kernel
    version: "6.1"
    cmdline: "quiet splash console=ttyS0,115200 console=tty0 loglevel=7"
    packages:
     - linux-image-amd64