image:
  name: azl3-default-x86_64
  version: "1.0.0"

target:
  os: azure-linux # Target OS name
  dist: azl3 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_ISO
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: "0"  # 0 means use the rest of the disk space
      fsType: ext4
      mountPoint: /

systemConfig: # Required
  name: Default_ISO
  description: Default yml configuration for iso image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    - filesystem
    - grub2
    - dracut-hyperv
    - hyperv-daemons
    - shim
    - grub2-efi-binary
    - ca-certificates
    - cronie-anacron
    - logrotate
    - core-packages-base-image
    - dracut-hostonly
    - dracut-vrf
    - shadow-utils
    - dracut-hyperv
    - dracut-virtio
    - dracut-xen
    - initramfs

  additionalFiles:
    - local: ../additionalfiles/99-dhcp-en.network
      final: /etc/systemd/network/99-dhcp-en.network

  kernel:
    name: kernel
