image:
  name: azl3-default-x86_64
  version: "1.0.0"

target:
  os: azure-linux # Target OS name
  dist: azl3 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: raw # Image type, valid value: [raw, iso].

disk:
  name: Default_Raw # 1:1 mapping to the systemConfigs name
  artifacts:
    -
      type: raw  # image file format
      compression: gz # image compression format (optional)
  size: 4GiB # 4G, 4GB, 4096 MiB also valid. (Required for raw)
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi
      mountOptions: umask=0077

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: 2561MiB  # 513MiB + 2GiB (2048MiB) = 2561MiB
      fsType: ext4
      mountPoint: /
      mountOptions: defaults, ro

    - id: roothashmap
      type: linux
      start: 2561MiB
      end: 3061MiB  # 2561MiB + 500MiB = 3061MiB
      fsType: ext4
      mountPoint: none

    - id: userdata
      type: linux
      start: 3061MiB
      end: "0"  # 2561MiB + 2GiB (2048MiB) = 4609MiB
      fsType: ext4
      mountPoint: /opt

systemConfig:
  name: Default_Raw
  description: Default yml configuration for raw image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  immutability:
    enabled: false # default is false

  packages:
    - filesystem
    - kernel
    - azurelinux-release
    # hyperv packages
    - dracut-hyperv
    - hyperv-daemons
    # core image packages
    - shim
    - systemd-boot
    - systemd-ukify
    - ca-certificates
    - cronie-anacron
    - logrotate
    - core-packages-base-image
    - dracut-hostonly
    - dracut-vrf
    - initramfs
    - shadow-utils
    # cloud-init packages
    - cloud-init
    - cloud-utils-growpart
    # virt guest packages
    - dracut-virtio
    - dracut-xen
    - veritysetup

  kernel:
    name: kernel
    version: "6.6"
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    uki: true
