image:
  name: azl3-default-x86_64
  version: "1.0.0"

target:
  os: azure-linux # Target OS name
  dist: azl3 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: raw # Image type, valid value: [raw, iso].

disk:
  - name: Default # 1:1 mapping to the systemConfigs name
    artifacts:
      -
        type: raw  # image file format
        compression: gz # image compression format (optional)
    size: 4GiB # 4G, 4GB, 4096 MiB also valid. (Required for raw)
    partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
    partitions: # Required for raw, optional for ISO, not needed for rootfs.
      - id: boot
        type: esp
        flags:
          - esp
          - boot
        start: 1MiB
        end: 513MiB
        fsType: fat32
        mountPoint: /boot/efi

      - id: rootfs
        type: linux-root-amd64
        start: 513MiB
        end: 0  # 0 means use the rest of the disk space
        fsType: ext4
        mountPoint: /

systemConfigs:
  - name: Default
    description: Default yml configuration for raw image

    bootloader:
      type: grub
      grub:
        bootType: efi
        efiProvider: systemd-boot

    packages:
      - filesystem
      - azurelinux-release
      - azurelinux-repos
      - azurelinux-rpm-macros
      - bash
      - ca-certificates
      - ca-certificates-base
      - dbus
      - dracut-hostonly
      - e2fsprogs
      - grub2
      - grub2-efi-binary
      - iana-etc
      - iproute
      - iputils
      - irqbalance
      - ncurses-libs
      - openssl
      - rpm
      - rpm-libs
      - shadow-utils
      - shim
      - sudo
      - systemd
      - systemd-networkd
      - systemd-resolved
      - systemd-udev
      - tdnf
      - tdnf-plugin-repogpgcheck
      - util-linux
      - zlib
      - initramfs

    kernel:
      name: kernel
      version: 6.12
      cmdline: "quiet splash"
      uki: true