name: Go Lint Check

on:
  pull_request:
    paths:
      - '**.go'
  push:
    branches:
      - main
    paths:
      - '**/*.go'
jobs:
  lint:
    name: Linting
    runs-on: ["ubuntu-latest"]
    container: ubuntu:24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y curl ca-certificates
          update-ca-certificates

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b ./bin v1.55.2
          echo "$PWD/bin" >> $GITHUB_PATH

      - name: Run golangci-lint
        run: golangci-lint run ./...

